/* tic tac toe */
#tictactoe input {
  cursor: pointer;
  padding: 30px;
  border-radius: 10px;
  font-size: 30px;
  text-align: center;
  margin: 10px;
}
#tictactoe h1 {
  font-size: 40px;
}
#tictactoe div {
  margin: 10px;
  text-align: center;
}
#tictactoe button {
  color: white;
  background-color: blue;
  padding: 15px;
  border-radius: 10px;
}
